<h1>Upcoming events</h1>
<a class="btn mt-4" href="/events/add-event"><i class="fas fa-plus"></i> Create Event</a>

<section id="popular-courses" class="courses">
	<div class="container">
		<div class="row">
			<% for (event of events) { %>
				<div class="card my-3 shadow-sm event-card">
					<div class="card-body">
						<div class="section-title mt-3 pb-0 mb-1">
							<h2><%= event.date.toDateString() %></h2>
							<p><%= event.title %></p>
						</div>
						<p><i class="fas fa-map-marker-alt text-primary">&nbsp;</i> <%= event.location %></p>
						<p class="mt-3 mb-2"><%= event.description %></p>
					</div>
				</div>
			<% } %>
		</div>
	</div>
</section>
