<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

	<h1 class="logo me-auto"><a href="/index"><i class="fas fa-dog"></i> Shelter</a></h1>

	<nav id="navbar" class="navbar order-last order-lg-0">
	  <ul>
		<li><a class="active" href="/index">Home</a></li>
		<li><a href="/petlist">Pets</a></li>
		<li><a href="/donate">Donate</a></li>

		<li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
		  <ul>
			<li><a href="/about">About Us</a></li>
			<li><a href="/events">Events</a></li>
			<li><a href="/news">News</a></li>
			<li><a href="/questions">Questions</a></li>
		  </ul>
		</li>
		<li><a href="/contact-us">Contact</a></li>
	  </ul>
	  <i class="bi bi-list mobile-nav-toggle"></i>
	</nav><!-- .navbar -->

	<a href="/login" class="get-started-btn">Log In</a>

  </div>
</header><!-- End Header -->
