<h1>Create a Discussion Post</h1>
<div class="row">
	<div class="col-lg-6">
		<section id="form" class="form">
			<form action="/discussions/create" method="POST" class="php-email-form">
				<div class="row">
					<div class="col-md-12 form-group">
						<input type="description" name="description" class="form-control" id="description" placeholder="Description" required="">
					</div>
				</div>
				<div class="text-center"><button name="submit" type="submit">Create</button></div>
			</form>
		</section>
	</div>
</div>
