<h1>About Us</h1>
	<p class="lead">We are a no-kill shelter dedicated to providing homeless pets with a safe and comfortable place to live until they can be adopted. Matching people and families with their new best friends is what we do best.</p>
<h2>History</h2>
<p>Our dedicated staff and volunteers have been working hard to help animals in need for over 20 years! Since then we have helped more than 240,000 animals find their new forever homes.</p>
