<h1>Volunteer</h1>
<p class="lead">Our lovely team of volunteers work hard to clean, feed, and exercise our animals. We always love to welcome new members to our team. If you are interested in volunteering at our shelter please fill out our <a href="/about/contact-us">contact form</a> and let us know you are interested.</p>
